PORT=3000
NODE_ENV=production
FRONTEND_ORIGIN=https://barbearia-sigma-henna.vercel.app

ADMIN_USER=seu_usuario_admin
ADMIN_PASSWORD=sua_senha_forte_aqui

DATABASE_PATH=./barbearia.db

OPENING_HOUR=8
CLOSING_HOUR=20